:root {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    --header-color: #000000;
    --text-color: #393939;
    --button-text-color: #FFFFFF;
    --subtitle-text-color: #939393;
    --text-black-color: #000000;
    --grey: #F9F9F9;
}

img
{
    display: block;
    width: 100%;
}

.container-1216
{
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0;
}

header {
    padding-left: 16px;
    padding-right: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    margin-top: 16px;
}

h1 {
    padding-left: 16px;
    padding-right: 16px;
}


section {
    padding-left: 16px;
    padding-right: 16px;
}

h2 {
    color: var(--header-color);
    font-size: 3.2rem;
}

h3 {
    color: var(--text-black-color);
    line-height: 1.2;
    font-size: 1.8rem;
    font-weight: 600;
}

.step {
    color: var(--text-color);
    text-decoration-line: underline;
    font-weight: 600;
}

.digital {
    font-weight: 600;
    line-height: 1.21;
    margin-bottom: 8px;
}

p {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6;
}

.section-1 {
    margin-bottom: 36px;

    background-image: url("/image/mobile-first-section-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 993px) {
    .section-1
    {
        min-height: 853px;
        background-image: url("/image/blue-behind.png");
    }
}

.section-1__babes.desktop
{
    display: none;
    max-width: 500px;
}
.section-1__babes.mobile
{
    max-width: 380px;
    margin: 0 auto;
}
@media screen and (min-width: 769px)
{
    .section-1__babes.desktop
    {
        display: block;
    }
    .section-1__babes.mobile
    {
        display: none;
    }
}
.article {
    margin-bottom: 30px;
}

.digital-text {
    margin-bottom: 20px;
}

.button-black {
    background: var(--text-color);
    border-radius: 82px;
    color: var(--button-text-color);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    padding: 13px 40px;
    display: inline-block;
}

.button-black-long {
    background: var(--text-color);
    border-radius: 82px;
    color: var(--button-text-color);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.9em 2.7em;
    text-align:center;
    text-decoration: none;
}

.header {
    padding-top: 44px;
    padding-bottom: 22px;
}

.view-all {
    margin-top: 30px;
}

.button-black-long.inst {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.button-black-long.inst img
{
    display: block;
    margin-right: 8px;
}

article {
    color: var(--text-black-color);
    font-weight: 600;
    font-size: 1.4rem;
}

.img {
    margin-bottom: 16px;
}

.section-2{
    margin-bottom: 29px;
}

.button-white {
    border-radius: 82px;
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 39px;
    border: 1px solid var(--subtitle-text-color);
    text-decoration: none;
    
}

.article-grey {
    margin-bottom: 21px;
}

.grey {
    background-color:var(--grey);
    margin-bottom: 44px;
}

.h3 {
    padding-top: 8px;
}

.margin-bottom {
    margin-bottom: 34px;
}

.square-button {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7;
    text-transform: uppercase;
    border: 1px solid var(--text-black-color);
    border-radius: 2px;
    max-width: max-content;
    padding: 4px 8px;
}

.grey-2 {
    background-color:var(--grey);
    margin-bottom: 44px;
    padding-top: 38px;
}

.news {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7;
    text-transform: uppercase;
    border: 1px solid var(--text-black-color);
    border-radius: 2px;
    max-width: max-content;
    padding: 4px 8px;
    margin-bottom: 21px;
}

.price {
    font-size: 1.2rem;
    line-height: 1.25;
    font-weight: 600;
}

.date {
    color: var(--text-black-color);
    line-height: 1.25;
    font-size: 1.2rem;
}

.natalia {
    font-weight: 600;
    line-height: 1.2;
    font-size: 2rem;
    color: var(--text-black-color);
    padding-bottom: 21px;
}

.section-5 {
    padding-top: 74px;
    margin-bottom: 68px;
}

.footer__up.wrapper,
.footer__bottom.wrapper
{   
    padding: 0;
}

.footer__up.wrapper
{
    padding: 0 16px;
}

.footer-links {
    color: var(--button-text-color);
    text-decoration: none;
    font-weight: 400;
    line-height: 169.02%;
    font-size: 1.4rem;
}

.footer-li {
    padding-bottom: 16px;
}

.balmlabs {
    color: var(--subtitle-text-color);
    font-weight: 600;
    line-height: 125%;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 17px;
}

.jacket {
    color: var(--text-black-color);
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 121%;
}

.lorem{
    margin-top: 6px;
}

.shop-now{
    margin-top: 25px;
    margin-bottom: 43px;
}

.section-4 {
    margin-bottom: 18px;
}

.img-verseser{
    margin-bottom: 14px;
}

.footer {
    background: #181818;
}

.info-footer__wrapper
{
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    padding: 24px 15px;
}
.info-footer 
{
    line-height: 1.2;
    color: var(--button-text-color);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;

    width: 100%;
}
.info-footer a
{
    color: #fff;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    font-weight: inherit;
}

.info {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text-color);
    padding-top: 21px;
    padding-bottom: 21px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.flex-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

hr{
    margin-left: -100px;
}

.flex-links {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.counter {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000000;
    color: #fff;
}

.footer
{
    position: relative;
}

.wrapper.row
{
    position: relative;
}

.frame.info-footer hr
{
    bottom: 0;
}
