:root {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    --header-color: #000000;
    --text-color: #393939;
    --button-text-color: #FFFFFF;
    --subtitle-text-color: #939393;
    --text-black-color: #000000;
    --grey: #F9F9F9;
}

img
{
    display: block;
}

.container-1216
{
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0;
}

header {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.ourUl{
    display: none;
}

li{
    list-style-type: none;
}

.header-social-networks {
    display: none;
}

.heade-div {
    display: flex;
    max-width: 270px;
    width: 100%;
    justify-content: flex-end;
}

@media screen and (min-width: 769px){
    .header-social-networks {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    }
    .heade-div {
        justify-content: space-evenly;
    }
}

.first-part-header{
    display: flex;
    width: 100%;
    max-width: 634px;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
}

.menu {
    border: none;
    background-color: #FFFFFF;
}

.menu-img {
    width: 24px;
    height: 24px;
}

.menu-shop {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    width: 140px;
}

h1 {
    padding-left: 16px;
    padding-right: 16px;
}


section {
    padding-left: 16px;
    padding-right: 16px;
}

h2 {
    color: var(--header-color);
    font-size: 3.2rem;
}

.head-basket {
    display: flex;
    padding: 8px 14px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 2px;
}

h3 {
    color: var(--text-black-color);
    line-height: 1.2;
    font-size: 1.8rem;
    font-weight: 600;
}

.step {
    color: var(--text-color);
    text-decoration-line: underline;
    font-weight: 600;
}

.digital {
    font-weight: 600;
    line-height: 1.21;
    margin-bottom: 8px;
}

p {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6;
}

.section-1 {
    display: flex;
    margin-bottom: 36px;
    background-image: url("/image/mobile-first-section-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.section-1-content {
    display: flex;
    flex-direction: column;
}

.section-1-text {
    padding-top: 2.8rem;
}

@media screen and (min-width: 993px) {
    .section-1
    {
        min-height: 853px;
        background-image: url("/image/blue-behind.png");
    }
    
    .menu-shop {
        display: flex;
    }
    .ourUl {
        list-style-type: none;
        display: flex;
        max-width: 456px;
        width: 100%;
        flex-grow: 1;
        justify-content: space-evenly;
    }
    .digital {
        font-size: 4.4rem;
    }
    .digital-text {
        font-size: 1.8rem;
    }
    .section-1-content {
        flex-direction: row;
    }
}

.section-1__babes.desktop
{
    display: none;
    max-width: 732px;
    width: 100%;
}
.section-1__babes.mobile
{
    max-width: 380px;
    margin: 0 auto;
}

@media screen and (min-width: 769px)
{
    .section-1__babes.desktop
    {
        display: block;
    }
    .section-1__babes.mobile
    {
        display: none;
    }
    .menu {
        display: none;
    }
}


.digital-text {
    margin-bottom: 20px;
}

.button-black {
    background: var(--text-color);
    border-radius: 82px;
    color: var(--button-text-color);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    padding: 13px 40px;
    display: inline-block;
}

.button-black-long {
    background: var(--text-color);
    border-radius: 82px;
    color: var(--button-text-color);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.9em 2.7em;
    text-align:center;
    text-decoration: none;
}

.header {
    padding-top: 44px;
    padding-bottom: 22px;
}

.view-all-mobile {
    margin-top: 3rem;
}

.view-all-pc {
    display: none;
}

.button-black-long.inst {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.button-black-long.inst img
{
    display: block;
    margin-right: 8px;
}

.section-2{
    margin-bottom: 29px;
}

.section-2-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.8rem;
}

.li-section-2 {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: auto 1rem auto 1rem;
    border: 0.1rem solid var(--text-black-color);
    border-radius: 50%;
    background-color: transparent;
}

.button-li-section-2 {
    opacity: 0;
}

@media screen and (min-width: 769px){
    .view-all-mobile {
        display: none;
    }
    .view-all-pc {
        display: flex;
    }
}

.article {
    color: var(--text-black-color);
    font-weight: 600;
    font-size: 1.4rem;
    max-width: 168px;
    width: 100%;
    margin-bottom: 30px;
}

.article-img {
    display: flex;
    justify-content: space-evenly;
}

.visually {
    display: none;
}

@media screen and (min-width: 769px) {
    .visually {
        display: initial;
    }
}

.img {
    margin-bottom: 16px;
}

.button-white {
    border-radius: 82px;
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 39px;
    border: 1px solid var(--subtitle-text-color);
    text-decoration: none;
    
    background: linear-gradient(90deg, blue 0%, purple 50%,  pink 100%);
}

.article-grey {
    margin-bottom: 21px;
    background-color: #FFFFFF;
}

.grey {
    background-color:var(--grey);
    margin-bottom: 44px;
    display: flex;
    justify-content: center;
}

.section-3 {
    display: flex;
    max-width: 1216px;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.section-3-text {
    max-width: 377px;
    width: 100%;
}

.section-3-step {
    display: flex;
    max-width: 535px;
    width: 100%;
    padding-bottom: 3.4rem;
    flex-direction: column;
    gap: 2rem;
}

.li-section-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

@media screen and (min-width: 769px) {
    .visually-mobile {
        display: none;
    }
    .section-3 {
        flex-direction: row;
    }
    .li-section-3 {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .article-grey{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        background-color: #FFFFFF;
        margin: 3.5rem 7rem;
        padding: 3rem;
    }
    .article-grey > div > a {
        width: 12.5rem;
        height: 3.5rem;
    }
    .article-grey > img {
        height: 100%;
    }
    .grey-2 {
        padding-bottom: 3.8rem;
    }

}

.h3 {
    padding-top: 8px;
}

.square-button {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7;
    text-transform: uppercase;
    border: 1px solid var(--text-black-color);
    border-radius: 2px;
    max-width: max-content;
    padding: 4px 8px;
    margin-right: 2.8rem;
}

.grey-2 {
    background-color:var(--grey);
    margin-bottom: 44px;
    padding-top: 38px;
    padding-bottom: 3.8rem;
}

.footer-1{
    display: flex;
    align-items: center;
    gap: 8rem;
}

.news {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7;
    text-transform: uppercase;
    border: 1px solid var(--text-black-color);
    border-radius: 2px;
    max-width: max-content;
    padding: 4px 8px;
    margin-bottom: 21px;
}

.price {
    font-size: 1.2rem;
    line-height: 1.25;
    font-weight: 600;
}

.date {
    color: var(--text-black-color);
    line-height: 1.25;
    font-size: 1.2rem;
}

.natalia {
    font-weight: 600;
    line-height: 1.2;
    font-size: 2rem;
    color: var(--text-black-color);
    padding-bottom: 21px;
}

.section-5 {
    padding-top: 74px;
    margin-bottom: 68px;
}

.footer__up.wrapper,
.footer__bottom.wrapper
{   
    padding: 0;
}

.footer__up.wrapper
{
    padding: 0 16px;
}

.footer-links {
    color: var(--button-text-color);
    text-decoration: none;
    font-weight: 400;
    line-height: 169.02%;
    font-size: 1.4rem;
}

.footer-li {
    padding-bottom: 16px;
}

.balmlabs {
    color: var(--subtitle-text-color);
    font-weight: 600;
    line-height: 125%;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 17px;
}

.jacket {
    color: var(--text-black-color);
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 121%;
}

.lorem{
    margin-top: 6px;
}

.shop-now{
    margin-top: 25px;
    margin-bottom: 43px;
}

.section-4 {
    margin-bottom: 18px;
}

.section-4-img {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    margin: 0 auto;
    gap: 1.3rem;
}

.section-4-img-div {
    display: flex;
}

.section-4-pc {
    display: none;
}

@media screen and (min-width: 769px) {
    .section-4-img {
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        justify-content: center;
    }
    .section-4-img img {
        width: 30vw;
    }

    .section-4-img img:hover {
        box-shadow: 0px 0px 20px grey;
    }

    .section-4-img-div {
        flex-direction: column;
        gap: 2rem;
    }

    .section-4-img-div img {
        width: 16vw;
    }

    .section-4-pc {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2.7rem;
    }
    
    .section-4-mobile {
        display: none;
    }

    .grey-2-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10rem;
    }
}

.img-verseser{
    margin-bottom: 14px;
}

.footer {
    background: #181818;
        padding-top: 1rem;
}

.info-footer__wrapper
{
    width: 100%;
    border-top: 1px solid #393939;
    border-bottom: 1px solid #393939;
    padding: 24px 15px;
}
.info-footer 
{
    line-height: 1.2;
    color: var(--button-text-color);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;

    width: 100%;
}
.info-footer a
{
    color: #fff;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    font-weight: inherit;
}

.info {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text-color);
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 1rem;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.flex-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

hr{
    margin-left: -100px;
}

.flex-links {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.counter {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000000;
    color: #fff;
}

.footer
{
    position: relative;
}

.wrapper.row
{
    position: relative;
}

.frame.info-footer hr
{
    bottom: 0;
}

.footer-pc {
    display: none;
}

@media screen and (min-width: 769px) {
    .section-5 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .wrapper-pc {
        display: flex;
        max-width: 49.2rem;
        padding-right: 5rem;
        flex-direction: column;
        justify-content: center;
    }
    .wrapper-pc > a {
        max-width: 15.3rem;
    }
    .section-5 > img {
        width: 66.3rem;
        height: 66rem;
    }
    .footer-pc {
        display: block;
    }
    .flex-links {
        flex-direction: row;
    }
    .footer-mobile {
        display: none;
    }
    .flex-img {
        padding-left: 20rem;
    }
    .footer-1{
        gap: 10rem;
    }
    .row1 {
        display: flex;
        flex-direction: row-reverse;
    }
    .info-footer__wrapper2 {
        width: 100%;
        padding: 24px 15px;
    }
    .wrapper.row {
        border-bottom: 1px solid #393939;
    }
}